<footer class="footer bg-dark text-white sticky-bottom">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-6">
                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque est in dapibus accumsan. Donec sodales, metus eu efficitur ultrices, lacus nisi feugiat dolor, a cursus arcu lacus in mauris.</p>
            </div>
            <div class="col-md-3">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact Us</h4>
                <ul class="list-inline social-media-list">
                    <li class="list-inline-item"><a href="https://wa.me/+917978237853?text=I'm%20interested%20in%20to%20chat" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
                
                <p>123 Street, City</p>
                <p>Email: info@example.com</p>
                <p>Phone: 123-456-7890</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                &copy; 2023 Your Company. All rights reserved.
            </div>
        </div>
    </div>
</footer>
