{% load static %}
<!-- Main Slider -->

<!-- Main Slider -->
<section id="main-slider" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static '/images/slide-03.jpg' %}" class="d-block w-100" alt="Slider Image 1">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/slide-04.jpg' %}" class="d-block w-100" alt="Slider Image 2">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/slide-05.jpg' %}" class="d-block w-100" alt="Slider Image 3">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/slide-06.jpg' %}" class="d-block w-100" alt="Slider Image 4">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/slide-07.jpg' %}" class="d-block w-100" alt="Slider Image 5">
            </div>
            
            <!-- Add more slider items as needed -->
          </div>
          <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
